**/overlays/**

/.hg/
.hgignore

**/.metadata/
/.metadata/

**/.settings/
/.settings/

**/.classpath
/.classpath

**/.project
/.project

**/build/**
/build/

**/target/**
/target/

**/WebContent/META-INF/MANIFEST.MF

**/out/**
/out/

.DS_Store
Thumbs.db

/jboss-eap-6.4/
jboss-eap-6.4.0.zip

config/jeppesen-config/crewweb.properties
!config/jeppesen-config/crewweb.properties-default

Delta-CrewPortal/src/main/webapp/WEB-INF/web.xml

/public/
!/settings/.m2/repository/com/oracle/ojdbc8/18.3.0.0/ojdbc8-18.3.0.0.*
!/settings/.m2/repository/org/jboss/web/jbossweb/3.0.0-CR2/jbossweb-3.0.0-CR2.*
/settings/.m2/repository/

*.iml
*.ipr
*.iws
*.log
.idea
!.idea/codeStyles/codeStyleConfig.xml
